TA_AGW_KEY=cc1c55b2a56a27558451c3cebaa716c0
TA_AGW_HOST=kong:8000
TA_AGW_SECURE=false
TA_SERVICE_CONFIG="${AO_ALT:-conf/config.yaml}"
TA_TELEMETRY_ENABLED=true
TA_OTEL_ENDPOINT=http://aspire:18889
TA_SERVICES_TYPE=external
TA_SERVICES_ENDPOINT=http://kong:8000
TA_SERVICES_TOKEN=cc1c55b2a56a27558451c3cebaa716c0
TA_AUTH_ENABLED=true