TA_TELEMETRY_ENABLED=true
TA_OTEL_ENDPOINT=http://aspire:18889
TA_DYNAMO_HOST=http://dynamodb:8000
TA_KONG_ENABLED=true
TA_VERIFY_IP=false
TA_ENVIRONMENT=local
AWS_ACCESS_KEY_ID=DUMMYVALUE
AWS_SECRET_ACCESS_KEY=DUMMYVALUE